@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext);
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #1C2D43;
    font-family: "roboto condensed";
}
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext);
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #1C2D43;
    font-family: "roboto condensed";
}

/* News */
#news-section {
    width: 35%;
    position: fixed;
}

.news-block {
    background-color: #1F2833;
    border: 1px solid white;
    border-radius: 2%;
    width: 90%;
    height: 80vh;
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
}

.news-block .news-block-title {
    color: white;
    font-size: 135%;
    padding: 2% 0 0 2%;
    flex: 1;
}

.news-block .news-feed {
    flex: 10;
}

.news-block .news-display-more {
    border-top: 1px solid white;
    flex: 1;
    border-radius: 0 0 13px 13px;
    transition: 0.1s;
    text-decoration: none;
}

.news-block .news-display-more h6 {
    color: #1D9BF0;
    font-size: 14px;
    margin: 2.5% 0 0 3%;
    text-decoration: none;
    font-weight: normal;
}

.news-block .news-display-more:hover {
    background-color: #263952;
}

.news-block .news-display-more:hover h6 {
    text-decoration: underline;
}

/*News Card */

.news-card {
    border: 1px solid white;
    height: 25%;
    padding: 1%;
    transition: 0.1s;
}

.news-card:hover {
    background-color: #263952;
}

.news-card:hover .news-title {
    text-decoration: underline;
}

.news-card .news-info {
    width: 85%;
    color: white;
    float: left;
}

.news-card .news-info .news-title {
    width: 90%;
    font-size: 90%;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-card .news-info .news-content {
    font-size: 75%;
    color: #C5C6C7;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
}

.news-card .news-card-image-wrapper {
    width: 15%;
    float: right;
}

.news-card .news-card-image-wrapper .img-overflow {
    width: 100%;
    height: auto;
}

.news-card .news-card-image-wrapper .img-overflow img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: auto;
}

/* End News Card */
/* End News */

/* Anime */

#n-nav {
    left: 38.25%;
    width: 58.5%;
    height: 7vh;
    margin: auto;
    background-color: #1F2833;
    border: 1px solid white;
    border-top: none;
    border-radius: 0 0 12px 12px;
    color: white;
    padding: 0.5% 1%;
    position: fixed;
}

/* End Anime */

/* Feed */
#n-section {
    margin-left: 35%;
    width: 65%;
    height: 100vh;
    overflow: auto;
}

#n-section .n-feed {
    height: 100vh;
}

#n-section .spacer {
    height: 10vh;
    color: #1C2D43;
}

.n-card {
    background-color: #1F2833;
    border: 1px solid white;
    border-radius: 12px;
    padding: 1%;
    width: 90%;
    height: 25%;
    margin-left: 5%;
    margin-bottom: 2%;
}

.n-card .n-card-image-wrapper {
    width: 12%;
    max-width: 12%;
    min-width: 12%;
    float: left;
}

.n-card .n-card-image-wrapper .n-img-overflow {
    width: 100%;
    height: auto;
}

.n-card .n-card-image-wrapper .n-img-overflow img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: auto;
}

.n-card .n-info {
    width: 80%;
    float: left;
    padding: 0 1%;
    color: white;
}

.n-card .n-info .n-title {
    font-size: 26px;
    color: #66FCF1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.n-card .n-info img {
    width: 1.5rem;
    height: auto;
    float: left;
}

.stat-line {
    display: inline-block;
}

.n-card .n-info .n-stats {
    font-size: 20px;
    display: inline;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    float: right;
}

.n-card .n-info .n-stats::first-letter {
    color: #1C2D43;
}

.n-card .n-info .n-synp {
    font-size: 13px;
    color: #C5C6C7;
    height: 11vh;
    overflow: hidden;
    text-overflow: ellipsis;
}
