<!DOCTYPE html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to mConnect!</title>
    <link rel="stylesheet" href=./../../static/css/landing.css>
</head>
<body>
    <div class="route-wrapper">
        <a id="home" class="route" href="/">Home</a>
        <a id="about" class="route" href="/about">About</a>
    </div>
    <div class="about-center">
        <h1 id="about-title">About</h1>
        <p id="about-desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet illo cupiditate voluptate suscipit earum, labore assumenda eligendi? Ducimus ipsam dolore quia asperiores ex sunt, dolor aliquam pariatur consequatur quaerat, quod architecto assumenda odio molestiae fugit quasi laudantium quas tempore magni!
            <br><br>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur delectus quisquam laborum dolor accusantium quae natus tenetur fugit voluptas! Ut commodi repudiandae quam voluptas soluta eius in quaerat, hic nulla?
        </p>
    </div>
</body>