<!DOCTYPE html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to mConnect!</title>
    <link rel="stylesheet" href=./../../static/css/landing.css>
</head>
<body>
    <div class="route-wrapper">
        <a id="home" class="route" href="">Home</a>
        <a id="about" class="route" href="/about">About</a>
    </div>
    <h1 class="title">mConnect</h1>
    <p class="desc">
        A convenient and easy to use application to sync your anime and manga lists from MAL and other websites featuring content from Mangadex
    </p>
    <div class="bt-wrapper">
        <button class="enter">Enter</button>
    </div>
</body>