<!DOCTYPE html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign up today!</title>
    <link rel="stylesheet" href=./../../static/css/signup.css>
</head>
<body>
    <div class="signup-block">
        <h1 class="title">mConnect</h1>
        <h4 class="desc">Create an account!</h4>
        <h4 class="error">{{ error }}</h4>
        <form class="inputs" method="POST" action="/signup/">
            {% csrf_token %}
            {{ ucreation }}
            <button class="su-bt" type="submit">Sign Up</button>
            <a class="hAccount" href="/login/">Have an Account? Log In</a>
        </form>
    </div>
</body>