<!DOCTYPE html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign up today!</title>
    <link rel="stylesheet" href=./../../static/css/signup.css>
</head>
<body>
    <div class="signup-block">
        <h1 class="title">mConnect</h1>
        <h4 class="desc">Create an account!</h4>
        <div class="inputs">
            <input type="text" placeholder="Username" class="su-field">
            <input type="text" placeholder="Password" class="su-field">
            <input type="text" placeholder="Confirm Password" class="su-field">
            <button class="su-bt">Sign Up</button>
            <a class="hAccount" href="/login/">Have an Account? Log In</a>
        </div>
    </div>
</body>