<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href=./../../static/css/animelist.css>
    <title>{{ name }}'s Anime List</title>
</head>
<body>
    <section id="news-section">
        <div class="news-block">
            <h2 class="news-block-title">Recent Anime News (ANN)</h2>
            <div class="news-feed">

                <!-- Static News Card -->
                <div class="news-card">
                    <a class="news-link" href="https://www.animenewsnetwork.com/news/2021-09-01/sword-art-online-progressive-film-gets-imax-screenings-in-japan/.176905" target="_blank" rel="noopener noreferrer">
                    <div class="news-info">
                        <h3 class="news-title">Sword Art Online Progressive Film Gets IMAX Screenings in Japan</h3>
                        <p class="news-content">
                            The official website for the Sword Art Online the Movie -Progressive- Aria of a Starless Night anime film announced on Wednesday that the film will get IMAX screenings in Japan on October 30, the same date that the film opens in standard theaters.
                        </p>
                    </div>
                    <div class="news-card-image-wrapper">
                        <div class="img-overflow">
                            <img src="https://cdn.animenewsnetwork.com/thumbnails/max650x650/cms/news.4/176905/sao-imax.jpg">
                        </div>
                    </div>
                    </a>
                </div>

                <!-- Static News Card -->
                <div class="news-card">
                    <a class="news-link" href="https://www.animenewsnetwork.com/news/2021-09-01/sword-art-online-progressive-film-gets-imax-screenings-in-japan/.176905" target="_blank" rel="noopener noreferrer">
                    <div class="news-info">
                        <h3 class="news-title">Sword Art Online Progressive Film Gets IMAX Screenings in Japan</h3>
                        <p class="news-content">
                            The official website for the Sword Art Online the Movie -Progressive- Aria of a Starless Night anime film announced on Wednesday that the film will get IMAX screenings in Japan on October 30, the same date that the film opens in standard theaters.
                        </p>
                    </div>
                    <div class="news-card-image-wrapper">
                        <div class="img-overflow">
                            <img src="https://cdn.animenewsnetwork.com/thumbnails/max650x650/cms/news.4/176905/sao-imax.jpg">
                        </div>
                    </div>
                    </a>
                </div>

                <!-- Static News Card -->
                <div class="news-card">
                    <a class="news-link" href="https://www.animenewsnetwork.com/news/2021-09-01/sword-art-online-progressive-film-gets-imax-screenings-in-japan/.176905" target="_blank" rel="noopener noreferrer">
                    <div class="news-info">
                        <h3 class="news-title">Sword Art Online Progressive Film Gets IMAX Screenings in Japan</h3>
                        <p class="news-content">
                            The official website for the Sword Art Online the Movie -Progressive- Aria of a Starless Night anime film announced on Wednesday that the film will get IMAX screenings in Japan on October 30, the same date that the film opens in standard theaters.
                        </p>
                    </div>
                    <div class="news-card-image-wrapper">
                        <div class="img-overflow">
                            <img src="https://cdn.animenewsnetwork.com/thumbnails/max650x650/cms/news.4/176905/sao-imax.jpg">
                        </div>
                    </div>
                    </a>
                </div>

                <!-- Static News Card -->
                <div class="news-card">
                    <a class="news-link" href="https://www.animenewsnetwork.com/news/2021-09-01/sword-art-online-progressive-film-gets-imax-screenings-in-japan/.176905" target="_blank" rel="noopener noreferrer">
                    <div class="news-info">
                        <h3 class="news-title">Sword Art Online Progressive Film Gets IMAX Screenings in Japan</h3>
                        <p class="news-content">
                            The official website for the Sword Art Online the Movie -Progressive- Aria of a Starless Night anime film announced on Wednesday that the film will get IMAX screenings in Japan on October 30, the same date that the film opens in standard theaters.
                        </p>
                    </div>
                    <div class="news-card-image-wrapper">
                        <div class="img-overflow">
                            <img src="https://cdn.animenewsnetwork.com/thumbnails/max650x650/cms/news.4/176905/sao-imax.jpg">
                        </div>
                    </div>
                    </a>
                </div>

            </div>
            <a class="news-display-more"  href="/anews/" >
                <h6>Display More</h6>
            </a>
        </div>
    </section>


    <section id="anime-nav">
        <h2 class="nav-title">Your Anime List</h2>

    </section>


    <section id="anime-section">
        <div class="anime-feed">
            <div class="spacer">-</div>
          
            <h1 id="no-mal">Looks like you haven't connected your MyAnimeList account yet. Would you like to do so now?</h1>

            <a id="connect-mal" href="{{ connect_mal_url }}">
                <img src="https://pbs.twimg.com/profile_images/1190380284295950339/Py6XnxvH_400x400.jpg">
                <h2 id="cn-mal-title">Connect MyAnimeList</h2>
            </a>
            
        </div>
    </section>
</body>