<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href=./../../static/css/animelist.css>
    <link rel="apple-touch-icon" sizes="180x180" href="/mConnect/webassets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/mConnect/webassets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/mConnect/webassets/images/favicon-16x16.png">
    <link rel="manifest" href="/mConnect/webassets/images/site.webmanifest">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>{{ user.username }}'s Anime List</title>
</head>
<body>
    <section id="news-section">
        <div class="news-block">
            <h2 class="news-block-title">Recent Anime News (ANN)</h2>
            <div class="news-feed">

                <!-- Static News Card -->
                <div class="news-card">
                    <a class="news-link" href="https://www.animenewsnetwork.com/news/2021-09-01/sword-art-online-progressive-film-gets-imax-screenings-in-japan/.176905" target="_blank" rel="noopener noreferrer">
                    <div class="news-info">
                        <h3 class="news-title">Sword Art Online Progressive Film Gets IMAX Screenings in Japan</h3>
                        <p class="news-content">
                            The official website for the Sword Art Online the Movie -Progressive- Aria of a Starless Night anime film announced on Wednesday that the film will get IMAX screenings in Japan on October 30, the same date that the film opens in standard theaters.
                        </p>
                    </div>
                    <div class="news-card-image-wrapper">
                        <div class="img-overflow">
                            <img src="https://cdn.animenewsnetwork.com/thumbnails/max650x650/cms/news.4/176905/sao-imax.jpg">
                        </div>
                    </div>
                    </a>
                </div>

                <!-- Static News Card -->
                <div class="news-card">
                    <a class="news-link" href="https://www.animenewsnetwork.com/news/2021-09-01/sword-art-online-progressive-film-gets-imax-screenings-in-japan/.176905" target="_blank" rel="noopener noreferrer">
                    <div class="news-info">
                        <h3 class="news-title">Sword Art Online Progressive Film Gets IMAX Screenings in Japan</h3>
                        <p class="news-content">
                            The official website for the Sword Art Online the Movie -Progressive- Aria of a Starless Night anime film announced on Wednesday that the film will get IMAX screenings in Japan on October 30, the same date that the film opens in standard theaters.
                        </p>
                    </div>
                    <div class="news-card-image-wrapper">
                        <div class="img-overflow">
                            <img src="https://cdn.animenewsnetwork.com/thumbnails/max650x650/cms/news.4/176905/sao-imax.jpg">
                        </div>
                    </div>
                    </a>
                </div>

                <!-- Static News Card -->
                <div class="news-card">
                    <a class="news-link" href="https://www.animenewsnetwork.com/news/2021-09-01/sword-art-online-progressive-film-gets-imax-screenings-in-japan/.176905" target="_blank" rel="noopener noreferrer">
                    <div class="news-info">
                        <h3 class="news-title">Sword Art Online Progressive Film Gets IMAX Screenings in Japan</h3>
                        <p class="news-content">
                            The official website for the Sword Art Online the Movie -Progressive- Aria of a Starless Night anime film announced on Wednesday that the film will get IMAX screenings in Japan on October 30, the same date that the film opens in standard theaters.
                        </p>
                    </div>
                    <div class="news-card-image-wrapper">
                        <div class="img-overflow">
                            <img src="https://cdn.animenewsnetwork.com/thumbnails/max650x650/cms/news.4/176905/sao-imax.jpg">
                        </div>
                    </div>
                    </a>
                </div>

                <!-- Static News Card -->
                <div class="news-card">
                    <a class="news-link" href="https://www.animenewsnetwork.com/news/2021-09-01/sword-art-online-progressive-film-gets-imax-screenings-in-japan/.176905" target="_blank" rel="noopener noreferrer">
                    <div class="news-info">
                        <h3 class="news-title">Sword Art Online Progressive Film Gets IMAX Screenings in Japan</h3>
                        <p class="news-content">
                            The official website for the Sword Art Online the Movie -Progressive- Aria of a Starless Night anime film announced on Wednesday that the film will get IMAX screenings in Japan on October 30, the same date that the film opens in standard theaters.
                        </p>
                    </div>
                    <div class="news-card-image-wrapper">
                        <div class="img-overflow">
                            <img src="https://cdn.animenewsnetwork.com/thumbnails/max650x650/cms/news.4/176905/sao-imax.jpg">
                        </div>
                    </div>
                    </a>
                </div>

            </div>
            <a class="news-display-more"  href="/anews/" >
                <h6>Display More</h6>
            </a>
        </div>
    </section>


    <section id="anime-nav">
        <h2 class="nav-title">Your Anime List</h2>
        <div class="nav-icons">
            <a href="/recommender/"><i class="material-icons">attribution</i></a>
            <a href="/mangalist/"><i class="material-icons">book</i></a>
            <a href="/profilepage/"><i class="material-icons">account_circle</i></a>
        </div>
    </section>


    <section id="anime-section">
        <div class="anime-feed">
            <div class="spacer">-</div>
            {% for anime in animelist %}

            <!-- Anime Card -->
            <div class="anime-card" data-modal="animeModal{{anime.id}}">
                <div class="anime-card-image-wrapper">
                    <div class="anime-img-overflow">
                        <img src="{{ anime.picture }}">
                    </div>
                </div>
                <div class="a-wrap">
                    <div class="anime-info">
                        <h2 class="anime-title">{{ anime.title }}</h2>
                        <div class="stat-line">
                            <img src="https://pbs.twimg.com/profile_images/1190380284295950339/Py6XnxvH_400x400.jpg">
                            <div class="anime-stats">-
                                {% if anime.mean == 0 %}
                                    - | {{ anime.airing_time }} | {{ anime.studio }} 
                                {% else %}
                                    {{ anime.mean }} | {{ anime.airing_time }} | {{ anime.studio }} 
                                {% endif %}
                            </div>
                        </div>
                        <p class="anime-synp">
                            {{ anime.desc }}
                        </p>
                    </div>
                    <div class="anime-reaction">
                        <div class="rec-spacer">-</div>
                        <div class="anime-episode">
                            <input placeholder="{{ anime.eps }}">/ {{ anime.t_eps }} Episodes
                        </div>
                        <select class="anime-rating">
                            <option value="">
                                {% if anime.score == 0 %}
                                    Rating
                                {% else %}
                                    Rating - {{ anime.score }}
                                {% endif %}
                            </option>
                            <option value="">10</option>
                        </select>
                        <button class="anime-more" data-modal="editMoreModal{{anime.id}}">Edit More</button>
                    </div>
                </div>
            </div>
            
            <!-- Anime Popup Modal -->
            <div id="animeModal{{anime.id}}" class="animeModal">
                <!-- Modal content -->
                <div class="animeModal-content">
                    <span class="animeModalClose" data-modal="animeModal{{anime.id}}">&times;</span>
                    <div class="animeModalWrapper">
                        <div class="pinfo">
                            <div class="animeModalPic">
                                <div class="animeModalPicOverflow">
                                    <img src="{{ anime.picture }}">
                                </div>
                            </div>
                            <div class="isl-sec">
                                <h4 class="modal-info tt">Information</h4>
                                    <p class="modal-status st">Status: {{ anime.anime_status }}</p>
                                    <p class="modal-type st">Type: {{ anime.anime_status }}</p>
                                    <p class="modal-source st">Source: {{ anime.source }}</p>
                                    <p class="modal-genres st">Genres: {{ anime.genres }}</p>
                                <h4 class="modal-stats tt">Statistics</h4>
                                    <p class="modal-rank st">Ranked: #{{ anime.ranked }}</p>
                                    <p class="modal-popularity st">Popularity: #{{ anime.popularity }}</p>
                                    <p class="modal-member st">Members: {{ anime.members }}</p>
                                <h4 class="modal-links tt">Links</h4>
                                    <a href="{{ anime.link }}" class="modal-link st" target="_blank">MyAnimeList</a>
                            </div>
                        </div>
                        <div class="tinfo">
                            <div class="titles">
                                <h1 class="main">{{ anime.title }}</h1>
                                <h3 class="alt">{{ anime.alt_title }}</h3>
                            </div>
                            <div class="modal-scores">
                                <img src="https://pbs.twimg.com/profile_images/1190380284295950339/Py6XnxvH_400x400.jpg">
                                <div class="animeModal-stats">-
                                    {% if anime.mean == 0 %}
                                        - | {{ anime.airing_time }} | {{ anime.studio }} 
                                    {% else %}
                                        {{ anime.mean }} | {{ anime.airing_time }} | {{ anime.studio }} 
                                    {% endif %}
                                </div>
                            </div>
                            <div class="ustatus">
                                <div class="anime-episode">
                                    <input placeholder="{{ anime.eps }}">/ {{ anime.t_eps }} Episodes
                                </div>
                                <select class="anime-rating">
                                    <option value="">
                                        {% if anime.score == 0 %}
                                            Rating
                                        {% else %}
                                            Rating - {{ anime.score }}
                                        {% endif %}
                                    </option>
                                    <option value="">10</option>
                                </select>
                                <select class="anime-status">
                                    <option>{{ anime.status }}</option>
                                </select>
                                <button class="anime-more" data-modal="editMoreModal{{anime.id}}">Edit More</button>
                            </div>
                            <div class="modal-desc">
                                {{ anime.desc }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Edit More Modal -->
            <div id="editMoreModal{{anime.id}}" class="editModal">
                <!-- Modal content -->
                <div class="editMore-content">
                <form class="editWrap" method="POST" action="/animelist/">
                    <div class="editInfo">
                        <div class="editModalPic">
                            <div class="editModalPicOverflow">
                                <img src="{{ anime.picture }}">
                            </div>
                        </div>
                        <h1 class="editTitle">{{ anime.title }}</h1>
                    </div>
                    <div class="update">
                        <div class="left">
                            {% csrf_token %}
                            {{ editmoresubleft }}
                        </div>
                        <div class="right">
                            <div class="e-episode">
                                <input placeholder="{{ anime.eps }}">/ {{ anime.t_eps }} Episodes
                            </div>
                            <div class="rewatching">
                                Re-watching <input type="checkbox">
                            </div>
                            <div class="rewatched">
                                Rewatched <input placeholder="{{ anime.rewatched }}">
                            </div>
                        </div>
                    </div>
                    <div class="cmt-out">
                        <div class="cmt">
                            <textarea class="comment"></textarea>
                        </div>
                    </div>
                    <div class="sub">
                        <button class="e-submit" type="submit">Submit</button>
                        <button class="e-cancel" data-modal="editMoreModal{{anime.id}}">Cancel</button>
                    </div>
                </form>
                </div>
            </div>
            
            {% endfor %}
        </div>
    </section>
    <!-- Script for Modal -->
    <script src="./../../static/js/modalscript.js"></script>
</body>