<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href=./../../static/css/anews.css>
    <title>{{ name }}'s Anime List</title>
</head>
<body>
    <section id="news-section">
        <div class="news-block">
            <h2 class="news-block-title">Recent Anime News (ANN)</h2>
            <div class="news-feed">

                <!-- Static News Card -->
                <div class="news-card">
                    <a class="news-link" href="https://www.animenewsnetwork.com/news/2021-09-01/sword-art-online-progressive-film-gets-imax-screenings-in-japan/.176905" target="_blank" rel="noopener noreferrer">
                    <div class="news-info">
                        <h3 class="news-title">Sword Art Online Progressive Film Gets IMAX Screenings in Japan</h3>
                        <p class="news-content">
                            The official website for the Sword Art Online the Movie -Progressive- Aria of a Starless Night anime film announced on Wednesday that the film will get IMAX screenings in Japan on October 30, the same date that the film opens in standard theaters.
                        </p>
                    </div>
                    <div class="news-card-image-wrapper">
                        <div class="img-overflow">
                            <img src="https://cdn.animenewsnetwork.com/thumbnails/max650x650/cms/news.4/176905/sao-imax.jpg">
                        </div>
                    </div>
                    </a>
                </div>

                <!-- Static News Card -->
                <div class="news-card">
                    <a class="news-link" href="https://www.animenewsnetwork.com/news/2021-09-01/sword-art-online-progressive-film-gets-imax-screenings-in-japan/.176905" target="_blank" rel="noopener noreferrer">
                    <div class="news-info">
                        <h3 class="news-title">Sword Art Online Progressive Film Gets IMAX Screenings in Japan</h3>
                        <p class="news-content">
                            The official website for the Sword Art Online the Movie -Progressive- Aria of a Starless Night anime film announced on Wednesday that the film will get IMAX screenings in Japan on October 30, the same date that the film opens in standard theaters.
                        </p>
                    </div>
                    <div class="news-card-image-wrapper">
                        <div class="img-overflow">
                            <img src="https://cdn.animenewsnetwork.com/thumbnails/max650x650/cms/news.4/176905/sao-imax.jpg">
                        </div>
                    </div>
                    </a>
                </div>

                <!-- Static News Card -->
                <div class="news-card">
                    <a class="news-link" href="https://www.animenewsnetwork.com/news/2021-09-01/sword-art-online-progressive-film-gets-imax-screenings-in-japan/.176905" target="_blank" rel="noopener noreferrer">
                    <div class="news-info">
                        <h3 class="news-title">Sword Art Online Progressive Film Gets IMAX Screenings in Japan</h3>
                        <p class="news-content">
                            The official website for the Sword Art Online the Movie -Progressive- Aria of a Starless Night anime film announced on Wednesday that the film will get IMAX screenings in Japan on October 30, the same date that the film opens in standard theaters.
                        </p>
                    </div>
                    <div class="news-card-image-wrapper">
                        <div class="img-overflow">
                            <img src="https://cdn.animenewsnetwork.com/thumbnails/max650x650/cms/news.4/176905/sao-imax.jpg">
                        </div>
                    </div>
                    </a>
                </div>

                <!-- Static News Card -->
                <div class="news-card">
                    <a class="news-link" href="https://www.animenewsnetwork.com/news/2021-09-01/sword-art-online-progressive-film-gets-imax-screenings-in-japan/.176905" target="_blank" rel="noopener noreferrer">
                    <div class="news-info">
                        <h3 class="news-title">Sword Art Online Progressive Film Gets IMAX Screenings in Japan</h3>
                        <p class="news-content">
                            The official website for the Sword Art Online the Movie -Progressive- Aria of a Starless Night anime film announced on Wednesday that the film will get IMAX screenings in Japan on October 30, the same date that the film opens in standard theaters.
                        </p>
                    </div>
                    <div class="news-card-image-wrapper">
                        <div class="img-overflow">
                            <img src="https://cdn.animenewsnetwork.com/thumbnails/max650x650/cms/news.4/176905/sao-imax.jpg">
                        </div>
                    </div>
                    </a>
                </div>

            </div>
            <a class="news-display-more"  href="/anews/" >
                <h6>Display More</h6>
            </a>
        </div>
    </section>


    <section id="n-nav">
        <h2 class="nav-title">Recent Anime News (ANN)</h2>

    </section>


    <section id="n-section">
        <div class="n-feed">
            <div class="spacer">-</div>

            <!-- Static Anime Card -->
            <div class="n-card">
                <div class="n-card-image-wrapper">
                    <div class="n-img-overflow">
                        <img src="https://cdn.animenewsnetwork.com/thumbnails/max650x650/cms/news.4/176905/sao-imax.jpg">
                    </div>
                </div>
                <div class="n-info">
                    <h2 class="n-title">Sword Art Online Progressive Film Gets IMAX Screenings in Japan</h2>
                    <div class="stat-line">
                        <img src="https://scontent-lax3-2.xx.fbcdn.net/v/t1.18169-9/21314646_1526398447381295_1480647476951569758_n.png?_nc_cat=1&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=M86HTJei370AX94Z2sM&_nc_ht=scontent-lax3-2.xx&oh=027ae736fba566a9f9b100a37ccf0ac8&oe=615DC70D">
                        <div class="n-stats">-Anime | 2021-09-01 10:05 EDT </div>
                    </div>
                    <p class="n-synp">
                        The official website for the Sword Art Online the Movie -Progressive- Aria of a Starless Night anime film announced on Wednesday that the film will get IMAX screenings in Japan on October 30, the same date that the film opens in standard theaters.
                    </p>
                </div>
            </div>            
            
        </div>
    </section>
</body>