<!DOCTYPE html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log in to your account!</title>
    <link rel="stylesheet" href=./../../static/css/login.css>
</head>
<body>
    <div class="login-block">
        <h1 class="title">mConnect</h1>
        <h4 class="desc">Login to your account!</h4>
        <div class="inputs">
            <input type="text" placeholder="Username" class="lg-field">
            <input type="text" placeholder="Password" class="lg-field">
            <button class="lg-bt">Log In</button>
            <a class="cAccount" href="/signup/">Create an Accocunt</a>
        </div>
    </div>
</body>