@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin,latin-ext);
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #1C2D43;
    font-family: "roboto condensed";
}

/* Error */
#no-mal {
    color: white;
    font-weight: bold;
    width: 80%;
    text-align: center;
    margin: 10% auto;
}
/* End Error */

/* News */
#news-section {
    width: 35%;
    position: fixed;
}

.news-block {
    background-color: #1F2833;
    border: 1px solid white;
    border-radius: 2%;
    width: 90%;
    height: 80vh;
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
}

.news-block .news-block-title {
    color: white;
    font-size: 135%;
    padding: 2% 0 0 2%;
    flex: 1;
}

.news-block .news-feed {
    flex: 10;
}

.news-block .news-display-more {
    border-top: 1px solid white;
    flex: 1;
    border-radius: 0 0 13px 13px;
    transition: 0.1s;
    text-decoration: none;
}

.news-block .news-display-more h6 {
    color: #1D9BF0;
    font-size: 14px;
    margin: 2.5% 0 0 3%;
    text-decoration: none;
    font-weight: normal;
}

.news-block .news-display-more:hover {
    background-color: #263952;
}

.news-block .news-display-more:hover h6 {
    text-decoration: underline;
}

/*News Card */

.news-card {
    border: 1px solid white;
    height: 25%;
    padding: 1%;
    transition: 0.1s;
}

.news-card:hover {
    background-color: #263952;
}

.news-card:hover .news-title {
    text-decoration: underline;
}

.news-card .news-info {
    width: 85%;
    color: white;
    float: left;
}

.news-card .news-info .news-title {
    width: 90%;
    font-size: 90%;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-card .news-info .news-content {
    font-size: 75%;
    color: #C5C6C7;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
}

.news-card .news-card-image-wrapper {
    width: 15%;
    float: right;
}

.news-card .news-card-image-wrapper .img-overflow {
    width: 100%;
    height: auto;
}

.news-card .news-card-image-wrapper .img-overflow img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: auto;
}

/* End News Card */
/* End News */

/* Anime */

#anime-nav {
    left: 38.25%;
    width: 58.5%;
    height: 7vh;
    margin: auto;
    background-color: #1F2833;
    border: 1px solid white;
    border-top: none;
    border-radius: 0 0 12px 12px;
    color: white;
    padding: 0.5% 1%;
    position: fixed;
}

/* End Anime */

/* Feed */
#anime-section {
    margin-left: 35%;
    width: 65%;
    height: 100vh;
    overflow: auto;
}

#anime-section .anime-feed {
    height: 100vh;
}

#anime-section .spacer {
    height: 10vh;
    color: #1C2D43;
}

.anime-card {
    background-color: #1F2833;
    border: 1px solid white;
    border-radius: 12px;
    padding: 1%;
    width: 91.77%;
    height: 25%;
    margin-left: 5%;
    margin-bottom: 2%;
    transition: 0.3s;
}

.anime-card:hover {
    cursor: pointer;
    background-color: #263952;
}

.a-wrap {
    float: right;
    width: 88%;
}

.anime-card .anime-card-image-wrapper {
    width: 12%;
    max-width: 12%;
    min-width: 12%;
    float: left;
}

.anime-card .anime-card-image-wrapper .anime-img-overflow {
    width: 100%;
    height: auto;
}

.anime-card .anime-card-image-wrapper .anime-img-overflow img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: auto;
}

.anime-card .anime-info {
    width: 80%;
    float: left;
    padding: 0 1%;
    color: white;
}

.anime-card .anime-info .anime-title {
    font-size: 26px;
    color: #66FCF1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.anime-card .anime-info img {
    width: 1.5rem;
    height: auto;
    float: left;
}

.stat-line {
    display: inline-block;
}

.anime-card .anime-info .anime-stats {
    font-size: 20px;
    display: inline;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    float: right;
}

.anime-card .anime-info .anime-stats::first-letter {
    color: #1C2D43;
}

.anime-card .anime-info .anime-synp {
    font-size: 13px;
    color: #C5C6C7;
    height: 11vh;
    overflow: hidden;
    text-overflow: ellipsis;
}

.anime-card .anime-reaction {
    width: 20%;
    float: right;
}

.rec-spacer {
    height: 50%;
    color: #1F2833;
}

.anime-card .anime-reaction .anime-episode {
    display: inline;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2% 6%;
    font-size: 16px;
    margin: 2% auto;
}

.anime-card .anime-reaction .anime-episode input {
    width: 20%;
    height: 80%;
    outline: 0;
    border: 0;
}

.anime-card .anime-reaction .anime-episode:hover {
    cursor: pointer;
}

.anime-card .anime-reaction .anime-episode input:focus {
    border: 1px solid black;
}

.anime-card .anime-reaction .anime-episode input::placeholder {
    font-size: 16px;
    color: solid black;
}

.anime-card .anime-reaction .anime-rating {
    width: 96%;
    margin: 10% auto 5%;
    padding: 2% 6%;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
}

.anime-card .anime-reaction .anime-rating:hover {
    cursor: pointer;
}

.anime-card .anime-reaction .anime-rating:focus {
    outline: 0;
}

.anime-card .anime-reaction .anime-more {
    border: 0;
    outline: 0;
    width: 96%;
    margin: 2% auto;
    padding: 2% 6%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
}

.anime-card .anime-reaction .anime-more:hover {
    cursor: pointer;
}

/* Animelist Empty Styling */

#wrap-bt {
    text-align: center;
}

#connect-mal {
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid black;
    transition: 0.3s;
    padding: 1%;
    width: 45%;
    margin: auto;
}

#connect-mal:hover {
    background-color: rgb(212, 212, 212);
    cursor: pointer;
}

#connect-mal img {
    width: 2rem;
    height: auto;
    float: left;
    display: inline;
}

#connect-mal #cn-mal-title {
    font-size: 26px;
    text-decoration: none;
    color: black;
    display: inline;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    text-align: left;
}

#connect-mal #cn-al-title:active {
    color: #C5C6C7;
}

/* End Animelist Error Styling */
/* Anime Modal */

.animeModal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}

.animeModal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.animeModalClose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.animeModalClose:hover, .animeModalClose:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

/* End Anime Modal */